<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--    application params start-->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.gerard.site.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>controller_url_pattern</param-name>
        <param-value>/controller</param-value>
    </context-param>
    <context-param>
        <param-name>application_context</param-name>
        <param-value>/gerard</param-value>
    </context-param>
    <context-param>
        <param-name>application_url</param-name>
        <param-value>http://localhost:8080/gerard</param-value>
    </context-param>
    <!--                                    application params end-->
    <!--guest pages start-->
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/pages/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dogs</servlet-name>
        <jsp-file>/pages/dogs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dogs</servlet-name>
        <url-pattern>/dogs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>puppies</servlet-name>
        <jsp-file>/pages/puppies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>puppies</servlet-name>
        <url-pattern>/puppies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>photos</servlet-name>
        <jsp-file>/pages/photos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>photos</servlet-name>
        <url-pattern>/photos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>make_request</servlet-name>
        <jsp-file>/pages/make_request.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>make_request</servlet-name>
        <url-pattern>/make_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/pages/login.jsp</jsp-file>
    </servlet>
    <!--                                                    guest pages end-->
    <!-- admin pages start-->
    <servlet>
        <servlet-name>admin_dogs</servlet-name>
        <jsp-file>/pages/admin_dogs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_dogs</servlet-name>
        <url-pattern>/admin_dogs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requests</servlet-name>
        <jsp-file>/pages/admin_requests.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>requests</servlet-name>
        <url-pattern>/admin_requests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_photos</servlet-name>
        <jsp-file>/pages/admin_photos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_photos</servlet-name>
        <url-pattern>/admin_photos</url-pattern>
    </servlet-mapping>
    <!--                                        admin pages end-->
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/pages/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-404</servlet-name>
        <url-pattern>/error-404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error-404</servlet-name>
        <jsp-file>/pages/error-404.jsp</jsp-file>
    </servlet>
    <error-page>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>402</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!--    Not found-->
        <error-code>404</error-code>
        <location>/pages/error-404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Not Implemented -->
        <error-code>501</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Bad Gateway -->
        <error-code>502</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>504</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>505</error-code>
        <location>/pages/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.gerard.site.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>jspSecurityFilter</filter-name>
        <filter-class>com.gerard.site.controller.filter.JspSecurityFilter</filter-class>
        <init-param>
            <param-name>defaultLocation</param-name>
            <param-value>/error-404</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jspSecurityFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>blackListFilter</filter-name>
        <filter-class>com.gerard.site.controller.filter.BlackListFilter</filter-class>
        <init-param>
            <param-name>defaultLocation</param-name>
            <param-value>/error</param-value>
        </init-param>
        <init-param>
            <param-name>expectedSessionRoleIdentifier</param-name>
            <param-value>admin</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>blackListFilter</filter-name>
        <url-pattern>/admin_dogs</url-pattern>
        <url-pattern>/admin_requests</url-pattern>
        <url-pattern>/admin_photos</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authAccessedCommandsFilter</filter-name>
        <filter-class>com.gerard.site.controller.filter.AuthAccessedCommandsFilter</filter-class>
        <init-param>
            <param-name>defaultLocation</param-name>
            <param-value>/error</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authAccessedCommandsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>