<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
<!--    application start-->
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.gerard.site.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>controller_url_pattern</param-name>
        <param-value>/controller</param-value>
    </context-param>
    <context-param>
        <param-name>application_context</param-name>
        <param-value>/gerard</param-value>
    </context-param>
    <context-param>
        <param-name>application_url</param-name>
        <param-value>http://localhost:8080/gerard</param-value>
    </context-param>
<!--    application end-->

<!--guest pages start-->
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/pages/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-404</servlet-name>
        <url-pattern>/error-404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error-404</servlet-name>
        <jsp-file>/pages/error-404.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/pages/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dogs</servlet-name>
        <jsp-file>/pages/dogs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dogs</servlet-name>
        <url-pattern>/dogs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>puppies</servlet-name>
        <jsp-file>/pages/puppies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>puppies</servlet-name>
        <url-pattern>/puppies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>photos</servlet-name>
        <jsp-file>/pages/photos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>photos</servlet-name>
        <url-pattern>/photos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sign</servlet-name>
        <jsp-file>/pages/sign.jsp</jsp-file>
    </servlet>
<!--    guest pages end-->

 <!--client pages start-->
    <servlet>
        <servlet-name>my_requests</servlet-name>
        <jsp-file>/pages/authaccessed/client/my_requests.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>my_requests</servlet-name>
        <url-pattern>/client/my_requests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>make_request</servlet-name>
        <jsp-file>/pages/authaccessed/client/make_request.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>make_request</servlet-name>
        <url-pattern>/client/make_request</url-pattern>
    </servlet-mapping>
<!--client pages end-->

<!-- auth accessed pages start-->
    <servlet>
        <servlet-name>my_profile</servlet-name>
        <jsp-file>/pages/authaccessed/my_profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>my_profile</servlet-name>
        <url-pattern>/authaccessed/my_profile</url-pattern>
    </servlet-mapping>
<!--    auth accessed pages end-->

<!--    admin pages start-->
    <servlet>
        <servlet-name>admin_dogs</servlet-name>
        <jsp-file>/pages/authaccessed/admin/admin_dogs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_dogs</servlet-name>
        <url-pattern>/admin/admin_dogs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_photos</servlet-name>
        <jsp-file>/pages/authaccessed/admin/admin_photos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_photos</servlet-name>
        <url-pattern>/admin/admin_photos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requests</servlet-name>
        <jsp-file>/pages/authaccessed/admin/requests.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>requests</servlet-name>
        <url-pattern>/admin/requests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/pages/authaccessed/admin/users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
<!--    admin pages end-->
</web-app>